# Cargar BD

In [1]:
from datetime import datetime
from sqlalchemy import create_engine
from sqlalchemy import (Column, Integer, String, Float, DateTime, Date, Enum, ForeignKey, func)
from sqlalchemy.orm import relationship, declarative_base
from sqlalchemy_utils import database_exists, create_database
import enum

In [2]:
USUARIO = "postgres"
PASSWORD = "qwerty"
BD = "Estimacion_Descargas"
engine = create_engine(f"postgresql+psycopg2://{USUARIO}:{PASSWORD}@localhost:5432/{BD}")
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

In [3]:
Base = declarative_base()
Base.metadata.drop_all(engine)

class ProductoEnum(enum.Enum):
    DIESEL_A1 = "Diesel A1"
    JET_A1 = "Jet A1"
    GAS_93 = "Gas 93"
    GAS_97 = "Gas 97"
    DIESEL_B = "Diesel B"
    FUEL_6 = "Fuel 6"
    VLSFO = "VLSFO"
    IFO_380 = "IFO-380"


class Programa(Base):
    __tablename__ = "programas"

    id = Column(Integer, primary_key=True, autoincrement=True)
    CC = Column(String, unique=True, nullable=False)
    nombre_bt = Column(String)
    proveedor = Column(String)
    origen = Column(String)
    inicio_ventana = Column(DateTime)
    fin_ventana = Column(DateTime)
    ETA = Column(DateTime)
    monto = Column(Integer)
    laytime = Column(Integer)
    agencia_de_naves = Column(String)
    surveyor_primario = Column(String)
    surveyor_secundario = Column(String)
    created_at = Column(DateTime(timezone=True), server_default=func.now())
    updated_at = Column(DateTime(timezone=True), onupdate=func.now())

    descargas = relationship("Descarga", back_populates="programa", cascade="all, delete-orphan")
    estimacion_programa = relationship("EstimacionPrograma", back_populates="programa", cascade="all, delete-orphan")
    plantas = relationship("Planta", secondary="descargas", back_populates="programas")
    programaciones = relationship("Programacion", secondary="descargas", back_populates="programas")


class Planta(Base):
    __tablename__ = "plantas"

    id = Column(Integer, primary_key=True, autoincrement=True)
    nombre = Column(String, unique=True)
    ciudad = Column(String)
    alias = Column(String)
    created_at = Column(DateTime(timezone=True), server_default=func.now())
    updated_at = Column(DateTime(timezone=True), onupdate=func.now())

    descargas = relationship("Descarga", back_populates="planta", cascade="all, delete-orphan")
    programas = relationship("Programa", secondary="descargas", back_populates="plantas")
    programaciones = relationship("Programacion", secondary="descargas", back_populates="plantas")


class Programacion(Base):
    __tablename__ = "programaciones"

    id = Column(Integer, primary_key=True, autoincrement=True)
    fecha = Column(Date, unique=True)
    semana = Column(Integer)
    created_at = Column(DateTime(timezone=True), server_default=func.now())
    updated_at = Column(DateTime(timezone=True), onupdate=func.now())

    descargas = relationship("Descarga", back_populates="programacion", cascade="all, delete-orphan")
    programas = relationship("Programa", secondary="descargas", back_populates="programaciones")
    plantas = relationship("Planta", secondary="descargas", back_populates="programaciones")


class Descarga(Base):
    __tablename__ = "descargas"

    id = Column(Integer, primary_key=True, autoincrement=True)
    volumen = Column(Integer)
    producto = Column(Enum(ProductoEnum))
    planta_id = Column(Integer, ForeignKey("plantas.id", ondelete="CASCADE"))
    programa_id = Column(Integer, ForeignKey("programas.id", ondelete="CASCADE"))
    programacion_id = Column(Integer, ForeignKey("programaciones.id", ondelete="CASCADE"))
    fecha_inicio = Column(DateTime)
    fecha_fin = Column(DateTime)
    created_at = Column(DateTime(timezone=True), server_default=func.now())
    updated_at = Column(DateTime(timezone=True), onupdate=func.now())

    programa = relationship("Programa", back_populates="descargas")
    planta = relationship("Planta", back_populates="descargas")
    programacion = relationship("Programacion", back_populates="descargas")

    estimacion_descarga = relationship("EstimacionDescarga", back_populates="descarga", cascade="all, delete-orphan")
    

class EstimacionDescarga(Base):
    __tablename__ = "estimaciones_descargas"

    id = Column(Integer, primary_key=True, autoincrement=True)
    descarga_id = Column(Integer, ForeignKey("descargas.id", ondelete="CASCADE"), unique=True)
    ETA = Column(DateTime)
    inicio_laytime = Column(DateTime)
    tiempo_descarga = Column(Float)
    demurrage_descarga = Column(Float)
    estimacion_demurrage = Column(Float)
    demurrage_unitario = Column(Float)
    shifting = Column(Integer)
    created_at = Column(DateTime(timezone=True), server_default=func.now())
    updated_at = Column(DateTime(timezone=True), onupdate=func.now())

    descarga = relationship("Descarga", back_populates="estimacion_descarga", uselist=False)


class EstimacionPrograma(Base):
    __tablename__ = "estimaciones_programas"

    id = Column(Integer, primary_key=True, autoincrement=True)
    programa_id = Column(Integer, ForeignKey("programas.id", ondelete="CASCADE"), unique=True)
    tiempo_programa = Column(Float)
    demurrage_programa = Column(Float)
    mes = Column(Integer)
    año = Column(Integer)
    created_at = Column(DateTime(timezone=True), server_default=func.now())
    updated_at = Column(DateTime(timezone=True), onupdate=func.now())

    programa = relationship("Programa", back_populates="estimacion_programa", uselist=False)

Base.metadata.create_all(engine)

In [4]:
import pandas as pd
import numpy as np
from utils.extraction_functions import extraer_nueva_ficha

PATH_DISTANCIAS = "Distancias entre puertos.xlsx"
PATH_PROGRAMACION = "C:\\Users\\jaubele.ap\\Desktop\\Estimación Semanal\\Programaciones\\Programacion Descarga Importaciones 03 de NOV.xlsx"
PATH_NUEVA_FICHA = "C:\\Users\\jaubele.ap\\Desktop\\Estimación Semanal\\Nueva Ficha Información de Buques.xlsx"
PATH_REPORTES_TANKERS = "C:\\Users\\jaubele.ap\\Desktop\\Estimación Semanal\\Reportes Tankers\\Reporte tankers 03-nov-25.pdf"
FECHA_PROGRAMACION = pd.to_datetime("2025-11-03")
FILE_NAME = f"Base de datos Estimación Semanal {FECHA_PROGRAMACION.strftime('%d-%m-%Y')}.xlsx"

df_nueva_ficha = extraer_nueva_ficha(PATH_NUEVA_FICHA, "Programación de buques")
df_nueva_ficha

,Nombre del BT,N° Referencia,Proveedor,Origen,Inicio Ventana,Fin Ventana,Inicio Ventana Corta,Fin Ventana Corta,ETA,MONTO ($/DIA),Agencia de Naves,Surveyor Primario,Surveyor Secundario
1,Tula,FFAA 01/07,Trafigura,USA,2007-01-15,2007-01-30 23:59:59,NaT,NaT,2007-01-16 11:00:00,28000.0,NaN,SGS,-----
2,Bow Fraternity,CC 01/07,Trafigura,Corea,2007-01-15,2007-01-30 23:59:59,NaT,NaT,2007-01-12 18:00:00,25000.0,NaN,INTERTEK,-----
3,Meriom Sky,CC 02/07,Blue Oil,USA,2007-01-15,2007-01-30 23:59:59,NaT,NaT,2007-02-02 22:00:00,22000.0,NaN,SGS,-----
4,Libera,----------,ENAP,USA,2007-02-17,NaT,NaT,NaT,2007-02-17 00:00:00,NaN,NaN,-----,-----
5,TIKHVIN,CC 03/07,Trafigura,USA,2007-02-08,2007-02-15 23:59:59,NaT,NaT,2007-02-21 14:00:00,25000.0,NaN,OTI,SGS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2133,TBN,CC 04/26,ARAMCO,NaN,2026-02-23,2026-02-27 23:59:59,NaT,NaT,NaT,NaN,NaN,NaN,NaN
2134,TBN,CC 11/26,MARATHON,NaN,2026-02-23,2026-02-27 23:59:59,NaT,NaT,NaT,NaN,NaN,NaN,NaN
2135,TBN,CC 19/26,VITOL,NaN,2026-03-02,2026-03-06 23:59:59,NaT,NaT,NaT,NaN,NaN,NaN,NaN
2136,TBN,CC 15/26,PETROCHINA,NaN,2026-03-02,2026-03-06 23:59:59,NaT,NaT,NaT,NaN,NaN,NaN,NaN
2137,TBN,CC 12/26,MARATHON,NaN,2026-03-09,2026-03-13 23:59:59,NaT,NaT,NaT,NaN,NaN,NaN,NaN

In [5]:
df_nueva_ficha_formateado = pd.DataFrame({
    "CC": df_nueva_ficha["N° Referencia"],
    "nombre_bt": df_nueva_ficha["Nombre del BT"],
    "proveedor": df_nueva_ficha["Proveedor"],
    "origen": df_nueva_ficha["Origen"],
    "inicio_ventana": df_nueva_ficha["Inicio Ventana"],
    "fin_ventana": df_nueva_ficha["Fin Ventana"],
    "ETA": df_nueva_ficha["ETA"],
    "monto": df_nueva_ficha["MONTO ($/DIA)"],
    "laytime": [np.nan] * len(df_nueva_ficha),
    "agencia_de_naves": df_nueva_ficha["Agencia de Naves"],
    "surveyor_primario": df_nueva_ficha["Surveyor Primario"],
    "surveyor_secundario": df_nueva_ficha["Surveyor Secundario"],
    })
df_nueva_ficha_formateado.to_sql("programas", engine, if_exists="append", index=False)

950